*~
src/main/resources/static/typings
src/main/resources/static/app/**/*.js
src/main/resources/static/app/**/*.map
src/main/resources/static/node_modules
src/main/resources/static/jspm_packages
src/main/resources/static/bower_components
src/main/resources/static/npm-debug.log
src/main/resources/static2/typings
src/main/resources/static2/app/**/*.js
src/main/resources/static2/app/**/*.map
src/main/resources/static2/node_modules
src/main/resources/static2/jspm_packages
src/main/resources/static2/bower_components
src/main/resources/static2/npm-debug.log
src/main/resources/static/typings
src/main/resources/static/app/**/*.js
src/main/resources/static/app/**/*.map
src/main/resources/static/node_modules
src/main/resources/static/jspm_packages
src/main/resources/static/bower_components
src/main/resources/static/npm-debug.log
src/main/resources/static2/typings
src/main/resources/static2/app/**/*.js
src/main/resources/static2/app/**/*.map
src/main/resources/static2/node_modules
src/main/resources/static2/jspm_packages
src/main/resources/static2/bower_components
src/main/resources/static2/npm-debug.log
.gradle
/build
/out
/intTestHomeDir
/subprojects/*/out
/intellij
/buildSrc/lib
/buildSrc/build
/subprojects/*/build
/subprojects/docs/src/samples/*/*/build
/website/build
/website/website.iml
/website/website.ipr
/website/website.iws
/performanceTest/build
/subprojects/*/ide
/*.iml
/*.ipr
/*.iws
/subprojects/*/*.iml
/buildSrc/*.ipr
/buildSrc/*.iws
/buildSrc/*.iml
/buildSrc/out
*.classpath
*.project
*.settings
/bin
/subprojects/*/bin
.DS_Store
/performanceTest/lib
.textmate
/incoming-distributions
.idea
*.sublime-*
.cache
